* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    background-color: #000000;
    line-height: 1.6;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: black;
    z-index: 1000; /* Ensure it's above other elements */
    position: relative; /* Ensure z-index applies */

}

header .logo h1 {
    font-size: 1.8em;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
	
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    position: relative;
}

header nav ul li a:hover {
    color: #e3001b;
}

header nav ul li a:after {    
    content: "";
    display: block;
    height: 2px;
    background: white;
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    transition: width 0.3s ease, left 0.3s ease;
}

header nav ul li a:hover:after { 
    width: 100%; 
    left: 0; 
}

.hero {
    background-image: url('../img/_bg.gif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}
/* Ensure the hero content is centered */
.hero-content {
    padding: 260px 20px;
}


.hero-content h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.hero-content .cta {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #ff9608;
    border: none;
    text-decoration: none;
}

.hero-content .cta:hover {
    background-color: #e3001b;
}

.about, .films, .contact {
    padding: 60px 20px;
    text-align: center;
    background-color: #111111;
}

.about h2, .films h2, .contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff9608;
}

.about p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}

.film-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.film-item {
    margin: 20px;
    max-width: 300px;
}

.film-item img {
    width: 100%;
    border-radius: 10px;
}

.film-item h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

.separator {
    height: 15em;
    background-color: #000000;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
}

.contact form input, .contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333333;
    border: none;
    color: #ffffff;
}

.contact form button {
    padding: 10px 20px;
    background-color: #ff9608;
    border: none;
    font-size: 1.2em;
    color: #ffffff;
    cursor: pointer;
}

.contact form button:hover {
    background-color: #e3001b;
}

footer {
    padding: 20px;
    background-color: #000000;
    text-align: center;
}

footer p {
    font-size: 0.9em;
    color: #777777;
}

@media (max-width: 572px) {
    header {
        flex-direction: column;
    }
}

@media (max-width: 350px) {
    header h1 {
        text-align: center;
    }
}

/* Arrow Functionality */

.content-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;	
	z-index: 4; /* Lower than header */
}

.content-section {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 100%; /* Initially off-screen */
    transition: opacity 0.8s ease-in-out;
    opacity: 0; /* Initially invisible */
}

.active {
    left: 0;
    opacity: 1; /* Fade in */
    transition: opacity 0.8s ease-in-out;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
	border-radius: 10px;
    color: #fff;
    border: none;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.arrow:hover {
	background-color: #e3001b ;
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

